IMAGE_NAME=ghcr.io/smallmain/kodi-docker
IMAGE_TAG=main
KODI_VERSION=latest
KODI_BUILD_JOBS=0
KODI_BUILD_BINARY_ADDONS=1
LOCAL_UID=1000
LOCAL_GID=1001
TZ=UTC
DISPLAY=:0
XAUTHORITY=/home/your-user/.Xauthority
HOST_XDG_RUNTIME_DIR=/run/user/1000
WAYLAND_DISPLAY=wayland-0
KODI_HTTP_PORT=8080
KODI_JSONRPC_PORT=9090
KODI_EVENTSERVER_PORT=9777
KODI_SSDP_PORT=1900
KODI_VIDEO_BACKEND=x11
KODI_AUDIO_BACKEND=alsa
KODI_RENDERER=auto
KODI_EXECUTABLE=
KODI_EXTRA_ARGS=
