IMAGE_NAME=ghcr.io/your-org/kodi-docker
IMAGE_TAG=main
LOCAL_UID=1000
LOCAL_GID=1000
TZ=UTC
DISPLAY=:0
XAUTHORITY=/home/your-user/.Xauthority
HOST_XDG_RUNTIME_DIR=/run/user/1000
WAYLAND_DISPLAY=wayland-0
KODI_VIDEO_BACKEND=x11
KODI_AUDIO_BACKEND=alsa
KODI_RENDERER=auto
KODI_EXTRA_ARGS=
